body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    height:100%;
    overflow: hidden;
    padding:0px;
    margin:0px;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
a,a:hover,a:active,a:focus{
  text-decoration: none;
}
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    flex-wrap: nowrap;
    padding-right:40px;
    overflow-x: auto;
    width:100%;
    height:100%;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #6a6a6a; 
  }

  .flex-item {
    margin: 20px auto auto 20px;
    text-align: left;
    border: 1px solid #ddd; 
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    flex: 0 0 calc(30% - 20px);
    max-width: calc(30% - 20px);
    max-height: 422px;
    overflow-y: auto;
    cursor: pointer;
    background-color: #ffffff;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .flex-item:last-child {
    margin-right: 20px; 
  }
  .flex-item:hover {
    transform: scale(1.03);
    opacity:0.85;
  }
  .flex-item::-webkit-scrollbar {
    width: 8px;
  }
  
  .flex-item::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border:3px solid #f8f9fa;
    border-radius: 10px;
  }
  .flex-item::-webkit-scrollbar-thumb:hover {
    background-color: #2b2b2b;
    border:2.5px solid #f8f9fa;
  }
  
  .flex-item::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  .qrcon-details::-webkit-scrollbar {
    width: 8px;
  }
  
  .qrcon-details::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border:3px solid #f8f9fa;
    border-radius: 10px;
  }
  .qrcon-details::-webkit-scrollbar-thumb:hover {
    background-color: #2b2b2b;
    border:2.5px solid #f8f9fa;
  }
  
  .qrcon-details::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  .flex-imgcon{
    text-align: center;
    background-color: #363636;
    float: center;
    width: 100%;
    height:350px;
    border-bottom: 1px solid #ddd; 
  }
  .flex-item img {
    height:350px;
    max-width:100%;
    object-fit: contain;
  }
  
  .caption {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 10px;
    padding-top:0px;
  }
  
  .link {
    display: block;
    text-decoration: none;
    color: #007bff; 
    font-weight: 400;
    font-size: 0.75rem;
   text-decoration: none;
   padding:0px;
   margin:0px;
   margin-top: 5px;
  }
  .link svg{
    margin:0px;
    padding:0px;
    width:12px;
    display: inline-block;
    opacity:0.8;
  }
  a:hover{
    text-decoration: none;
  }
 
  #qrconlightbx{
    display: none;
    background-color: #ffffff; 
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
  }

  #qrconlightbx .modal-dialog{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
  }
  #qrconlightbx .modal-content{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0px;
    padding:0px;
    margin:0px;
    position: fixed;
  }
  
  #qrconlightbx  .modal-body {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
  }
  #qrconlightbx  .qrimg-fluid {
    width:100%;
    height:100vh;
    object-fit: contain;
  }
  .qrimgcontain{
    width:100%;
    height:100vh;
  }
  #qrconlightbx .row{
    width:100%;
    height:100%;
    background-color: white;
    margin:0px;
  }
  #qrconlightbx .col-md-8{
    background-color: #6a6a6a;
    margin:0px;
    padding:0px;
    height:100vh;width:100%;
  }
  #qrconlightbx .col-md-4{
    background-color: white;
    margin:0px;
    padding:10px;
  }
  #clsmdlcn{
    border-radius: 0px;
    margin-top:40px;
    width:100%;
  }
  .qrcon-caption{
    color:#414141;
    font-weight: bold;
    font-size: 14px;
  }
 .qrcon-date{
  font-size:14px;
  color:#727272;
 }
 .qrcon-details{
  max-height:350px;
  padding:5px;
  background-color: #d0d0d098;
  overflow-y:auto;
  word-wrap: break-word;
  color:#414141;
 }
 .qrcon-details a{ 
color:#7a7a7a;
 }
 .qrcon-details a:hover{ 
  opacity: 0.6;
   }
  .scroll-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline:none;
    display: block;
  }
  .scroll-button:active,.scroll-button:focus{outline:none;background-color: #19b93e;}
  .qrcbtnright{
    position: fixed;
    top: 210px;
    right: 0;
  
  }

  .qrcbtnleft{
    position: fixed;
    top: 260px;
    right: 0;
   
  }
  .qrcbtnleft img{
    rotate: 180deg;
    width:20px;
    filter: invert(1);
  }
  .qrcbtnright img{
    rotate: 0deg;
    width:20px;
    filter: invert(1);
  }
  #ftnote{
   margin-top:20px;
   color:silver;
  }
  #ftnote a{
    color:silver;
  }


  @media screen and (max-width: 599px) {
    .flex-item {
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 350px;
    }
    .flex-item img{
    max-height: 350px;
    }
    .flex-imgcon{
    max-height: 350px;
    }

    .qrcbtnright{
    top: 170px;
    }

    .qrcbtnleft{
    top: 220px;
    }
    #qrconlightbx .modal-content{
      position: absolute;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1060px) {
    .qrcon-details{
      max-height:260px;
     }
    .flex-item {
      flex: 0 0 49%;
      max-width: 85%;
      max-height: 400px;
      }
      .flex-item img{
      max-height: 335px;
      }
      .flex-imgcon{
      max-height: 335px;
      }
  
      .qrcbtnright{
      top: 170px;
      }
  
      .qrcbtnleft{
      top: 220px;
      }
      #qrconlightbx .modal-content{
        position: absolute;
      }
  }
